.chip {
    height: 32px;
    line-height: 32px;
    padding-left: 12px;
    padding-right: 12px;
    border-radius: 16px;

    vertical-align: center;
    display: inline-block;

    border: 1px solid #C7C7C7;
    color: black;
    text-decoration: none;
}

.chip:hover {
    background: #E0E0E0;
    color: black;
}

.collection {
    border: 1px solid #C7C7C7;
    margin: 0 0 16px 0;
    padding: 0;
}

.collection-item {
    list-style: none;
    padding: 16px;
    color: #000;
    display: block;
    text-decoration: none;
}

.collection-item:not(:first-child) {
    border-top: 1px solid #C7C7C7;
}

a.collection-item:hover{
    background: #E0E0E0;
    color: #000;
}

.collection-item-icon {
    display: inline-block;
    font-size: 48px;
    color: #002546;
}

.collection-item-content {
    display: inline-block;
    vertical-align: top;
    margin-left: 32px;
}

.collection-item-content h1 {
    font-size: 16px;
    font-weight: bolder;
    margin: 0;
}

.collection-item-content p{
    font-size: 12px;
    font-weight: lighter;
    margin: 0;
}

.topic {
    color: #002546;
    display: inline-block;
    text-decoration: none;
    text-align: center;
    margin: 96px auto auto auto;
    width:300px;
}

a.topic:hover{
    color: #002546;
}

.topic.no-border {
    border: none;
}

.topic-icon {
    font-size: 80px;
}

.topic h1 {
    font-size: 48px;
    font-weight: bolder;
    color: #002546;
}